.stats_card {
  background-color: #314da6;
  color: #E0FFFF;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;  // só o tamanho da foto vai ser a altura da linha

  }

  span {
    font-size: 4rem;
    line-height: 1; // só o tamanho da foto vai ser a altura da linha
  }
}